*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: none;
}

body{
    font-family: sans-serif;
    line-height: 40px;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
}

header{
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: #ecf4fb;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 10px;
}

header .logo{
    height: 15px;
    width: 15px;
    cursor: pointer;
}

header figure{
    line-height: 20px;
}

header figcaption{
    opacity: .8;
}

header input{
    padding: 3px;
    border-radius: 3%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    border: none;
    background-color: #eee;
}

header input:hover, 
header .profile-pics:hover{
    opacity: 0.8;
    transition: all 1s;
}

header input::placeholder{
    font-size: 10px;
    opacity: .6;
}

header a{
    text-decoration: none;
    padding: 3px;
    border-radius: 10%;
    color: #fff;
    background-color: #6969de;
    opacity: .7;
}

header .profile-pics{
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin-top: 10px;
    border-radius: 20px;
}


/*====== MAIN SECTION ============= */

main{
    padding: 20px;
}

main{
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
}

main aside{
    position: fixed;
    height: 100%;
    width: 25vw;
    margin: 40px 0 0 -20px;
    padding: 3px 8px 2px;
    border-right: 1px solid rgb(254, 137, 74);
    background-color: #ecf4fb;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

main .second-main-section{
    z-index: 1;
    margin-left: 25%;
    margin-top: 5%;
}

label{
    cursor: pointer;
    font-size: 12px;
}

label:hover{
    opacity: .7;
    font-weight: bold;
}

div.all-my-photos,
div.all-school-photos,
div.all-instagram-photos,
div.all-family-photos,
div.all-food-photos,
div.all-videos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 5px;
    padding: 30px;
}

img{
    width: 80%;
    height: 80%;
    border-radius: 2%;
}

div.all-videos{
    grid-gap: 50px;
    padding: 50px;
}

video{
    width: 90%;
    border-radius: 3%;
}

div.all-school-photos,
div.all-instagram-photos,
div.all-family-photos,
div.all-food-photos,
div.all-videos{
    display: none;
}



/* MEDIA QUERY */


/* ======== MEDIA SCREENS >= 768PX ========== */
@media screen and (min-width: 768px) {
    header section{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 10px 80px;
        margin-left: 5px;
    }

    header figure{
        display: flex;
        align-items: center;
    }

    header input{
        width: 50vw;
        height: 4vh;
        padding: 20px;
    }

    header input::placeholder{
        font-size: 12px;
    }
    
    header a{
        padding: 10px 15px;
    }

    header .logo{
        height: 20px;
        width: 20px;
    }

    header figure{
        margin-left: -40px;
    }

    header figcaption{
        font-size: 13px;
    }

    main aside{
        width: 10vw;
        height: 100%;
        margin: 60px 0 0 -17px;
    }

    main .second-main-section{
        margin-left: 10%;
    }
}


/* ======== MEDIA SCREENS >= 820PX ========== */
/* @media screen and (min-width: 820px) {
    main .first-main-section{
        width: 15vw;
        height: 100%;
        margin: 129px 0 0 -15px;
    }

    main .second-main-section{
        margin-top: 13%;
        margin-left: 15%;
    }
} */


/* ======== MEDIA SCREENS >= 912PX ========== */
/* @media screen and (min-width: 912px) {
    main .first-main-section{
        width: 15vw;
        height: 100%;
        margin: 160px 0 0 -15px;
    }

    main .second-main-section{
        margin-top: 15%;
        margin-left: 15%;
    }
} */