*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    line-height: 40px;
    font-family: 'Nunito', sans-serif;
}

header{
    position: fixed;
    width: 100%;
    height: 13%;
    z-index: 2;
    background-color: #ecf4fb;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px;
}

header .logo{
    height: 25px;
    width: 25px;
    cursor: pointer;
}

header figure{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header figcaption{
    margin-left: 5px;
    opacity: .8;
}


header input{
    padding: 5px;
    border-radius: 3%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    border: none;
    background-color: #eee;
}

header input:hover, 
header .profile-pics:hover{
    opacity: 0.8;
    transition: all 1s;
}

header input::placeholder{
    font-size: 12px;
    opacity: .6;
}

header a{
    text-decoration: none;
    font-size: small;
    padding: 10px 15px;
    border-radius: 15%;
    color: #fff;
    background-color: #6969de;
    opacity: .7;
}

header .profile-pics{
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin-top: 10px;
    border-radius: 20px;
}



/*====== MAIN SECTION ============= */

main{
    padding: 20px;
}

main{
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
}

main .first-main-section{
    position: fixed;
    height: 100%;
    width: 25vw;
    margin: 80px 0 0 -15px;
    padding: 3px 8px 2px;
    border-right: 1px solid rgb(254, 137, 74);
    background-color: #ecf4fb;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);

}

main .second-main-section{
    z-index: 1;
    margin-left: 18%;
    margin-top: 10%;
}

label{
    cursor: pointer;
}

label h3{
    text-decoration: underline;
}


div.all-my-photos,
div.all-school-photos,
div.all-instagram-photos,
div.all-family-photos,
div.all-food-photos,
div.all-videos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 50px;
}

img{
    width: 100%;
    border-radius: 2%;
}

div.all-videos{
    grid-gap: 50px;
    padding: 50px;
}

video{
    width: 90%;
    border-radius: 3%;
}

div.all-school-photos,
div.all-instagram-photos,
div.all-family-photos,
div.all-food-photos,
div.all-videos{
    display: none;
}



/* MEDIA QUERY */
/* ======== MEDIA SCREENS >= 280PX ========== */
@media screen and (min-width: 280px) {
    main .first-main-section{
        width: 40vw;
        margin: 97px 0 0 -15px;
    } 

    main .second-main-section{
        margin-top: 13%;
        margin-left: 14%;
    }
}


/* ======== MEDIA SCREENS >= 540PX ========== */
@media screen and (min-width: 540px) {
    main .first-main-section{
        margin: 77px 0 0 -15px;
    } 
}


/* ======== MEDIA SCREENS >= 768PX ========== */
@media screen and (min-width: 768px) {
    header section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 80px;
        margin-left: 20px;
        padding-bottom: 10px;
    }

    header input{
        width: 50vw;
        height: 4vh;
        padding: 20px;
    }

    header input::placeholder{
        font-size: 14px;
    }
    
    header a{
        padding: 15px 20px;
    }

    header .logo{
        height: 40px;
        width: 40px;
    }

    header figcaption{
        font-size: 20px;
        line-height: 50px;
        margin-left: 10px;
    }

    main .first-main-section{
        width: 15vw;
        height: 100%;
        margin: 110px 0 0 -15px;
    }

    main .second-main-section{
        margin-top: 12%;
        margin-left: 15%;
    }
}


/* ======== MEDIA SCREENS >= 820PX ========== */
@media screen and (min-width: 820px) {
    main .first-main-section{
        width: 15vw;
        height: 100%;
        margin: 129px 0 0 -15px;
    }

    main .second-main-section{
        margin-top: 13%;
        margin-left: 15%;
    }
}


/* ======== MEDIA SCREENS >= 912PX ========== */
@media screen and (min-width: 912px) {
    main .first-main-section{
        width: 15vw;
        height: 100%;
        margin: 160px 0 0 -15px;
    }

    main .second-main-section{
        margin-top: 15%;
        margin-left: 15%;
    }
}